@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #0d0d0d;
    --secondary-color: #9000FF;
    --secondary-color-darker: #58009D;
    --tertiary-color: #ABB2B9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

input, button {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

input:focus {
    outline: 1.5px solid var(--secondary-color);
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.btn-task {
    border: none;
    background: var(--secondary-color);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    height: 30px;
}

.btn-task:hover {
    background: var(--secondary-color-darker);
}


.tasks {
    list-style: none;
}

.tasks div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}